{% extends 'base.html' %}
{% block content %}

<h1>Finch List</h1>

{% for finch in finch_list %}
    <div class="card">
        <a href="{% url 'detail' finch.id %}">
        <div class="card-content">
            <span class="card-title">{{ finch.name }}</span>
                <p>US/Canada Population Estimate:{{ finch.population }}</p>
                <p>Habitat:{{ finch.habitat }}</p>
                <p>Population:{{ finch.trend|linebreaks }}</p>
        </div>
        </a>
    </div>
{% endfor %}
{% endblock %}
